
:root{
  --primary:#4D98E2;
  --primary-10:#D3E6F8;
  --primary-50:#EDF5FC;
  --white-color: #fff;
  --white-blue-Pair:#F8F9FA;
  --dark-color:#1E1E1E;
  --stroke:#F2F4F0;
  --mid-gray:#838789;
  --gray:#747681;
  --gray-pair:#60676E;
  --gray-opacity-1:#F2F2F2;
}